.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 1%;
}

.navbar {
  /* margin: 4px; */
  padding: 4px;
  background-color: rgb(209, 136, 136);
  /* border: 1px solid black; */
}

.navbar a {
  margin: auto 4px;
}

.username {
  color: red;
}

.error {
  color: red;
}

.ingredient-table {
  /* border: 1px solid black; */
  text-align: center !important;
  margin-left: 60px;
}

.ingredient-table thead {
  background-color: #eee;
}

.ingredient-table td {
  padding: 2px 4px;
  text-align: center;
  /* border-right: 1px solid black; */
  text-align: center !important;
}

.ingredient-table td.button-cell {
  padding: 2px 4px;
  text-align: center;
  border: none;
}



.table-margin {
  margin-left: 138px;
}


img {
  /* max-width:50%; */
  width:auto;
  max-height: 300px;
}

.container {
  margin: 3% auto;
}
.is-paddingless-horizontal {
  padding-top: 0;
  /* padding-right: 0; */
}

.grid {
  display: grid;
  grid-template-columns: 
    1fr 1fr 1fr 1fr 1fr;
}

.grid * { grid-column: 2/5;}
.grid-xl { grid-column: xl;}


#box1 {
  margin-left: 300px;
  height: 300px;
  width: 250px;
  float: left;
}

#box2 {
  margin-right: 300px;
  height: 300px;
  width: 250px;
  float: right;
}

button:hover {
  background-color:#eee;
  border: 1px solid black;
  border-radius: 3px;
}

.delete-button:hover {
  background-color:red;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.dropzone {
  padding: 2px;
  border: 1px solid black;
  cursor: default;
}

.dropzone:hover {
  background-color: rgb(236, 198, 198);
}

.recipe-edit {
  float: left;
}

.recipe-delete {
  margin-right: 440px;
  float: right;
}

.follow {
  margin: auto 24px;
}

.search-bar{
  margin-top: 13px;
}

.border-line {
  height: 400px;
  border-left: 1px solid rgb(185, 185, 185);
  float: left;
  margin-left: 85px;
}

.add-ingredient-button {
  margin-left: 290px;
}

.tag-margin{
  margin-left: 120px;
}

.recipe-submit {
  margin-left: 310px;
}
